/home/alex/pit-navigator-utah/Simulation/Models/round3_batch3.ply
/home/alex/pit-navigator-utah/Simulation/Models/round2_batch1.ply
/home/alex/pit-navigator-utah/Simulation/Models/round1_batch2.ply
/home/alex/pit-navigator-utah/Simulation/Models/Movies/round_3.gif
/home/alex/pit-navigator-utah/Simulation/Models/Movies/round_2.gif
/home/alex/pit-navigator-utah/Simulation/Models/Movies/round_1.gif
/home/alex/pit-navigator-utah/Simulation/Documents/lunar-env/protos/NIAC_finished.wrl
/home/alex/pit-navigator-utah/Simulation/Documents/lunar-env/protos/utah_pit.proto
/home/alex/pit-navigator-utah/Simulation/Documents/lunar-env/protos/old/kingsbowl.proto
